<section class="w-100 position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner img-slider">
        <div class="carousel-item active">
          <img  src="https://static01.nyt.com/images/2022/01/16/fashion/VIRAL-LIBRARY/VIRAL-LIBRARY-articleLarge.jpg?quality=75&auto=webp&disable=upscale" class="img-fluid d-block h-100 w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img  src="https://www.saccds.org/sites/main/files/imagecache/lightbox/main-images/20210831_scds_227.jpg" class="img-fluid d-block h-100 w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://waggalibrary.com.au/__data/assets/image/0007/207277/libraryhomepage.jpg" class="img-fluid d-block h-100 w-100"  alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.tus.ac.jp/en/assets/img/library/bg_hero.jpg" class="img-fluid d-block h-100 w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
        <!-- Banner on The Slider Begin -->
        <div id="banner-text" class="banner position-absolute top-50 start-50 translate-middle container-fluid">
          <div class="p-3">
            <h1>Get All The Books You Need in One Place</h1>
            <p class="px-5"><small>We Provide you the best stock at the cheepest rate.It's not just a book. It's Your Identity.</small></p>
          </div>
        </div>
        <!-- Banner Sllider End -->
  </section><br><br><br>